.container{
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px;
}
.menu{
  display: flex;
  gap: 12px;
  color: white;
}
