.allContainer{
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}
.container {
  border-collapse: collapse;
}
.container tr, 
.container td {
  border: 1px solid rgba(56, 54, 54, 0.623);
  padding: 10px;          
  text-align: center;
}
.header {
  background-color: black;
  color: white;
}