.btn {
  padding: 8px 25px;
  height: 38px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px; 
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.btn:hover {
  background-color: #333333; 
  border-color: #333333;
}
.btn:active {
  transform: scale(0.97);
  background-color: black;
}
