<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->

<!-- #{}로 작성된 빈 값은 Mapper Interface에서 선언한 추상메서드의 매개변수로 채워진다 -->
<!--case1. 매개변수로 DTO 전달되면-->
<!--  #{}안에 작성된 변수의 getter를 호출하여 데이터를 채워 줌  -->
<!--case2. 매개변수로 int, String이 전달되면-->
<!--  전달되는 매개변수에는 getter가 없기 때문에 getter를 호출하지 않음 -->
<!--  단순히 정수 데이터 하나, 문자열 데이터 하나만 채워주면 되기 떄문에 -->
<!-- #{} 안에 작성되는 글자는 어떤 글자를 작성하던 상관없음 -->
<mapper namespace="com.green.board.mapper.BoardMapper">
    <!--resultMap : 데이터베이스 테이블에서 조회된 데이터를 Spring으로 가져올 자료형을 매칭 -->
    <resultMap id="board" type="com.green.board.dto.BoardDTO">
        <id     column="BOARD_NUM"      property="boardNum" />
        <result column="TITLE"          property="title" />
        <result column="WRITER"         property="writer" />
        <result column="CONTENT"        property="content" />
        <result column="READ_CNT"       property="readCnt" />
        <result column="CREATE_DATE"    property="createDate" />
    </resultMap>

    <!--게시글 목록 조회 쿼리-->
    <!--화면에 보여줄 데이터만 조회, 단, PK컬럼은 무조건 조회-->
    <!--select 태그는 resultTytpe 혹은 resultMap 속성이 반드시 있어야 함-->
    <!--resultMap, resultType은 쿼리 실행 결과 조회되는 하나의 행 데이터를 저장할 변수를 지정 -->
    <!--resultType - 조회되는 하나의 행 데이터를 자바에서 제공하는 자료형으로 받을 수 있을 때 -->
    <!--resultMap - 조회되는 하나의 행 데이터를 우리가 만든 자료형(CLASS, BoardDTO)으로 받을 때 -->
    <select id="selectBoardList" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , WRITER
            , CREATE_DATE
            , READ_CNT
        FROM BASIC_BOARD
        <!-- test 안의 내용이 참일때만 실행 -->
        <!-- test 안에 작성한 변수는 매개변수로 전달된 객체의 getter를 호출해서 해석-->
        <!-- #{} -> 홀따옴표에 감싸짐. 일반적인 변수에서 사용 -->
        <!-- ${} -> 홀따옴표가 없음. 컬럼명이 변수일 때 사용 -->
        <if test='!searchValue.equals("")'>
            WHERE UPPER(${searchKeyword}) LIKE CONCAT('%', UPPER(#{searchValue}), '%')
        </if>
        ORDER BY CREATE_DATE DESC
    </select>

    <insert id="insertBoard">
        INSERT INTO BASIC_BOARD (
            TITLE
            , WRITER
            , CONTENT
        ) VALUES (
            #{title}
            , #{writer}
            , #{content}
        )
    </insert>

    <select id="selectBoard" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , CONTENT
            , WRITER
            , READ_CNT
            , CREATE_DATE
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <!--조회수 증가 쿼리-->
    <update id="updateReadCnt">
        UPDATE BASIC_BOARD
        SET
            READ_CNT = READ_CNT + 1
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <!--게시글 삭제 쿼리-->
    <delete id="deleteBoard">
        DELETE FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <!--게시글 정보 수정-->
    <update id="updateBoard">
        UPDATE BASIC_BOARD
        SET
            TITLE = #{title}
            , CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

</mapper>































