<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.board.mapper.BoardMapper">
    <!--resultMap : 데이터베이스 테이블에서 조회된 데이터를 spring으로 가져올 자료형을 매칭-->
	<resultMap id="board" type="com.green.board.dto.BoardDTO">
        <id column="BOARD_NUM" property="boardNum"/>
        <result column="TITLE" property="title" />
        <result column="WRITER" property="writer" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="READ_CNT" property="readCnt" />
        <result column="CONTENT" property="content" />
    </resultMap>
<!--    게시글 목록 조회 쿼리-->
<!--    화면에 보여줄 데이터만 조회, 단, PK컬럼은 무조건 조회-->
    <!--select 태그는 resultType 혹은 resultMap 속성이 반드시 있어야 한다.-->
    <!--resultMap, resultType은 쿼리 실행 결과 하나의 행 데이터를 저장할 변수를 지정-->
    <!--resultType -조회되는 하나의 행 데이터를 자바에서 제공하는 자료형으로 받을 수 있을 때-->
    <!--resultMap - 조회되는 하나의 행 데이터를 우리가 만든 자료형(CLASS, BoardDTO)으로 받을 때-->
    <select id="selectBoardList" resultMap="board">
        SELECT BOARD_NUM
              ,TITLE
              ,WRITER
              ,CREATE_DATE
              ,READ_CNT
        FROM BASIC_BOARD
        ORDER BY CREATE_DATE DESC
    </select>
    <insert id="insertBoardList">
        INSERT INTO BASIC_BOARD(
               WRITER
              ,CONTENT
              ,TITLE
            )
        VALUES(
                #{writer},
                #{content},
                #{title}
        )
    </insert>
    <select id="getBoardDetail" resultMap="board">
        SELECT  BOARD_NUM
               ,CREATE_DATE
               ,WRITER
               ,READ_CNT
               ,TITLE
               ,CONTENT
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>
</mapper>































