<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->

<!-- #{}로 작성된 빈 값은 Mapper Interface에서 선언한 추상메서드의 매개변수로 채워진다 -->
<!--case1. 매개변수로 DTO 전달되면-->
<!--  #{}안에 작성된 변수의 getter를 호출하여 데이터를 채워 줌  -->
<!--case2. 매개변수로 int, String이 전달되면-->
<!--  전달되는 매개변수에는 getter가 없기 때문에 getter를 호출하지 않음 -->
<!--  단순히 정수 데이터 하나, 문자열 데이터 하나만 채워주면 되기 떄문에 -->
<!-- #{} 안에 작성되는 글자는 어떤 글자를 작성하던 상관없음 -->
<mapper namespace="com.green.board.mapper.ReplyMapper">
    <resultMap id="reply" type="com.green.board.dto.ReplyDTO">
        <id     column="REPLY_NUM"  property="replyNum" />
        <result column="CONTENT"    property="content" />
        <result column="WRITER"     property="writer" />
        <result column="REG_DATE"   property="regDate" />
        <result column="BOARD_NUM"  property="boardNum" />
    </resultMap>

    <!--댓글목록조회-->
    <select id="selectReplyList" resultMap="reply">
        SELECT REPLY_NUM
            , WRITER
            , REG_DATE
            , CONTENT
        FROM BOARD_REPLY
        WHERE BOARD_NUM = #{boardNum}
        ORDER BY REG_DATE DESC
    </select>

    <!--댓글등록-->
    <insert id="insertReplyBoard">
        INSERT INTO BOARD_REPLY
        (   BOARD_NUM
          , WRITER
          , CONTENT
        ) VALUES (
         #{boardNum}
        ,#{writer}
        ,#{content}
        )
    </insert>
    <!--댓글삭제-->
    <delete id="deleteReply">
        DELETE FROM BOARD_REPLY
        WHERE REPLY_NUM = #{replyNum}
    </delete>

</mapper>































