.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.searchDiv{
  display: flex;
  justify-content: end;
  padding: 10px 0px;
  gap: 5px;
  font-size: 5px;
}

table{
  width: 100%;
  border: 1px solid rgb(68, 31, 31);
  background-color: rgb(177, 199, 199);
}
.table thead{
  background-color: rgb(0, 153, 255);
  height: 30px;
  text-align: center;
}
.table >tr>td:nth-child(2){
  text-align: left;
}

table td{
  border: 1px solid white;
}
.table tbody > tr:nth-child(even){
  background-color: rgba(200, 200, 200, 0.5);
}
.table tbody > tr:hover{
  background-color: rgba(200, 100, 200, 1);
}
.table thead > tr{

  font-weight: bold;
}


button {
  background-color: blue;
  color: white;
}
.btnbottom{
  padding: 10px;
}