.container {
  margin: 10px;
  height: 100%;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap:55px
}
.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.mid{
  display: flex;
  flex-direction: column;
}
.mid > div{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
td{
  border: 1px solid rgb(56, 52, 52, 0.2);
  padding: 10px;
}
.footer table{
  width: 100%;
}
.footer h3{
  margin-bottom: 10px;
}
input{
  border: 1px solid rgb(56, 52, 52, 0.2);
  padding: 5px;
}
select{
  border: 1px solid rgb(56, 52, 52, 0.2);
  width: 60px;
  padding: 5px;
}
.adress{
  border: none;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.adress > :first-child{
  display: flex;
  gap: 5px;
}

button{
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  color: black;
  border-radius: 3px;
  padding: 0px 10px;
}
.mid  tr > :first-child{
  background-color: rgb(250, 249, 248);
}
.footer tr > :first-child{
  background-color: rgb(250, 249, 248);
}
.header tr > :first-child{
  background-color: rgb(250, 249, 248);
}
.red{
  vertical-align: middle;
  color: red;
}
