.container{
  width: 100%;
  margin: auto;
  border: 1px solid black;
  height: 1200px;

}
.introMenu{
  height: 5%;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}


.img-div{
 position: relative;
 height:20%;
 width: 

 border: 1px solid black;
}
.img-div > img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.intro{
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
}
