.container{
  width: 100%;
  margin: auto;
  border: 1px solid black;
  height: 1200px;

}
.introMenu{
  height: 5%;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}
.img-div{
 position: relative;
 height:20%;
 border: 1px solid black;
}
.img-div img{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.intro{
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
}
.templateDiv{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.templateDiv >:first-child{
  text-align: center;
}
.templateDiv > :first-child > img {
 width: 30%;
}
.templateDiv > :last-child {
  display: flex;
  margin: 20px auto;
  gap: 100px;
  text-align: center;
}
.icon > :first-child > span {
  border-radius: 100%;
  border: 25px solid black;
}