.container{
  width: 100%;
  margin: auto;
  height: 1000px;
  display: flex;
  flex-direction: column;
  
}
.introMenu{
  height: 8%;
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 120px;
  justify-content: center;
  align-items: center;
}
.introMenu > div{
  display: flex;
  gap: 30px;
  font-size: 14px;
  font-weight: bold;
}
.search{
  border: 1px solid lightgray;
  position: relative;
}
.search input{
  border: none;
  padding: 5px;
  width: 250px;
}
.introMenu i{
  color: orange;
  position: absolute;
  right: 10px;
  cursor: pointer; 
}

.img-div{
  overflow: hidden;
  display: flex;
  position: relative;
  height:25%;
  gap: 5px;
}
.img-div img{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.38);
}
.img-div button{
  cursor: pointer;
}

.intro{
  top: 0px;
  left: 0px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro :first-child{
  color: orange;
  font-size: 25px;
}
.intro button{
  background-color: orange;
  border: none;
  padding: 10px 20px; 
  color: white;
  font-weight: bold;
}
.intro p:nth-child(2){
  font-size: 12px;
  color: white;
}

.templateDiv{
  height: 30%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.templateDiv >:first-child{
  text-align: center;
}
.templateDiv > :first-child > img {
 width: 20%;
}
.templateDiv > :last-child {
  display: flex;
  margin: 50px auto;
  gap: 50px;
}

.icon > div > span {
  border-radius: 100%;
  border: 15px solid orange;
  padding: 15px;
}
.icon i{
  color: orange;
}
.icon > div > p{
  margin-top: 10px;
}
.icon > div {
  text-align: center;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon h4{
  margin-top: 10px;
  font-size: 10px;
}
.icon  p{
  font-size: 10px;
}
.lastestblogposts{
  margin-top: 50px;
  text-align: center;
  height: 10%;
}
.lastestblogposts > img{
  width: 20%;
}
.blog{
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: center;
  justify-content: center;
  height: 30%;
}
.blog1{
  width:220px;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.blog1 img{
  height: 100%;
  width: 100%;
}
.blog1 div{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  text-align: left;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}
.blog1 div > p{
  margin-top: 5px;
  font-size: 10px;
  color: orange;
}
