table{
  margin: 5px auto;
  text-align: center;
  border-collapse: collapse;
  width: 550px;
  
}
table > thead > tr{
  border-top: 3px solid black;
  border-bottom: 1px solid lightgray;
}

table > tbody > tr{
  border-bottom: 1px solid lightgray;
}
tbody td:nth-child(3){
  text-align: left;
}

tbody > tr:nth-child(even){
  background-color: lightgray;
}

table td{
  padding: 8px;
}