body{
  background-color: aquamarine;
  height: 100vh;
     display: flex;
  align-items: center;
  justify-content: center;
 
}

.container{
 
  padding: 70px 50px 0px 50px;
  border: none;
  border-radius: 8px;
  height: 700px;
  width: 500px;
  background-color: white;

  height: 100%;
 
  flex-direction:column;
  display: flex;
  justify-content:space-evenly
 
  

}


span[class="red1"]{
  color: red;
}
.header{
  height: 15%;
}
.header > span{
  font-size: 12px;
  
}
.body1{

}
input[type="text"],
input[type="password"]
{
  padding: 8px;
  /* border-color: gray; */
  border-radius: 5px;
  width: 100%;
  border: 1px solid gray;

}
.email{
  display: flex;
  flex-direction: row;

  
  
}

.email > :nth-child(3){
  background-color: rgb(236, 234, 234);
 
}




button{
  background-color: #00b6ef;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  width: 35%;
}
.body1 > div:last-child{
  flex-direction: row;
  display: flex;
  gap: 10px;
}
.button3{
padding: 5px;
width: 70px;
background-color: #efc900;
}
.button2{
padding: 5px;
width: 70px;
background-color:  #00b6ef;
;
}
.buttons{
display: flex;

  align-items: center;
  justify-content: center;
gap: 5px;
  
}


