.container{
  width: 700px;
  height: 270px;
  border: 1px solid rgba(182, 158, 158, 0.527);
  margin: 150px auto;
  border-radius: 10px;
  box-shadow:  0.3px 0.3px 0.1px 0.1px lightgray  ;
padding: 10px;


}

.header{
  font-size: 14px;
  height: 20%;
  
}
.box{
  width: 100%%;
  height: 80%;
}
.checkbox{
  width: 40%;
  display: flex;
}

.login{
  margin: 20px 20px;
  border: none;
  background-color: rgb(231, 230, 230);
  width: 45%;
  border-radius: 4px;
  padding: 7px 6px;
  height: 160px;
  


}
.login1 > :nth-child(1),
.login1 > :nth-child(2){
  display: flex;
  flex-direction: column;
}

input{
  margin: 5px 5px 10px 5px;

}
input[type="checkbox"]{
  margin: 0px 5px 0px 5px;
}
.btn1{
  padding-top: 5px
}
.btn1 > button{
  padding: 3px 30px;
  border: none;
  background-color: #f08080;
  color: white;
  border-radius: 5px;
}

.box2{
border: 1px solid black;
width: 55%;

}
