body{
  background-color: skyblue;
}
.container{

  border: none;
  width: 300px;
  height: 450px;
  margin: 70px auto;
  padding: 10px;
  justify-content:space-evenly;
  display: flex;
  flex-direction: column;
}

.pic1{
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: none;
 
}
.pic1 > img{
  border-radius: 50%;

  border: 1px solid lightgray;
  margin: 5px;

}
.pic1 > :last-child{
padding: 10px;
}


