.container{
  
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}


div td {

  
    border: 0.5px,solid,gray;
    font-size: 0.8rem;
    padding: 10px;
    
}
div{
 display: flex;
 flex-direction: column;
}

table{
   
}