.container{
  width: 1200px;
  margin: 30px auto;
}
.header{
  height: 100px;
 
  background-color: #0c51a6;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.header >ul{
  display: flex;
  background-color: #0a4288;
  width: 600px;
  padding: 15px 15px;
  font-size: 1.2rem;
  gap: 12px;
  justify-content: space-around;
  }
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
.banner-info{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  text-align: center;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 50px;
}
.content{
  display: flex;
  position: relative;

}
.content > div{

  width: 100%;
  }
.content-1{
  padding: 15px;
}
table{
  width: 100%;
  margin-top: 6px;
}
tr > td:nth-child(2){
text-align: right;
}
td{
  padding: 7px 0px;
}
.content-2 > div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  
  color: white;
  text-align: center;    

}
.content-2 button{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
  padding: 6px 16px;
  color: white;
  margin-top: 8px;
}

img{
object-fit: cover;
object-position: center center;
}
.footer{
  background-color: lightgray;
  display: flex; 
  height: 100px;
  align-items: center;
  
}
.footer >h1{
  width: 30%;
  margin-left: 24px;
}
.footer ul{
  display: flex;
 
  justify-content: center;
  gap: 6px;
}

.footer > div{
 
  width: 70%;
  text-align: center;
}