.container{
  width: 1200px;
  height: 700px;

  margin: 0px auto;
  display: flex; 
  flex-direction: column;
}
.header{
  background-color: #0c51a6;
  display: flex; 
  justify-content:space-between;
    
}
.header > :first-child{
color: white;
padding: 15px;
width: 35%;
height: 15%;


}
.header > :last-child{
  display: flex;
  font-size: 20px;

 
}
.box1{
  padding: 10px 25px;
  align-self: center;
  font-size: 0.6rem;
  color: white;
  background-color: #0a4288;
  
}
.picture{
  height: 100%;
  position: relative;
  width: 100%;
  
}
.picture img{
  width: 100%;
  height: 100%;

}
.intro{
  position: absolute;
  top: 35%;
  left: 35%;
  overflow: hidden;
  text-align: center;
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  
  background-color: black;
  opacity: 0.5;
  color: rgb(255, 255, 255);

}

.body > :first-child{
  height: 100%;
  width: 100%;
  background-color: #e5f1ff;
 
}
.body{
   display: flex;
  flex-direction: row;

}
.intro2{
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 90px;
  left: 100px;
  
}

.body > :nth-child(2){
  position: relative;
  color: white; 
}
.body-txt1{
  display: flex;
  flex-direction: column;
}
.body-txt1 p{
padding: 10px;
}

.body-txt1 > :first-child{
  padding: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.body-txt{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.body img{
  height: 100%;
  width: ;
}
.bottom{
  background-color: #e7e7e7;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom > :first-child{
  color: #627577ad;
  font-size: 2rem;
  padding: 20px;
  align-self: center;
  
}
.bottom-1{
width: 900px;

text-align: center;
  align-content: center;

  
}
.bottom-1 > :first-child{
  padding-bottom: 10px;
}