.fbox{
  width: 700px;
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;


}

.ffbox{
  height: 15%;
  width: 100%;
  flex-direction: row;
  display: flex;
  border: 3px solid orange;

}
.mbox{
  height:85% ;
  border: 3px solid greenyellow;
  width: 100%;
  flex-direction: row;
  display: flex;

}

.thrbox{
  border: 3px solid rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
  width: 35%;

}
.mbox > div:first-child{
  width: 65%;
  border: 3px solid red;
}
.thrbox > div{
  width: 100%;
  height: 100%;
  border: 3px solid blue;
}