body{
  background-color: rgba(127, 127, 139, 0.842) ;
}

.container{
  width: 700px;
  height: 700px;
  border: 1px solid black;
  background-color: white;
  margin: 20px 50px;
 

}
.header{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header > :last-child{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
 
}
.header > :last-child > div > span{

  width: 100%;
  text-align: center;
  
}
.header1{
  font-size:  25px;
  font-weight: bold;
}
.header2{
  font-size:  25px;
  font-weight: bold;
}
.header > :first-child{
  border: none;
  background-color: #ffb6c1;
  color: white;
  border-radius: 10px;
  
  padding: 2px 10px ;


}

.header1 > span > span{
color: #9cd9fb;
}
.picture > img{
  width: 160px;
}
.grid1{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
align-content: center;
justify-content: center;
gap: 5px 5px;
margin: 10px;
position: absolute;
}

.grid2{
  display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
align-content: center;
justify-content: center;
gap: 5px 5px;
margin: 10px;
position: relative

}

.grid1 > .grid2:hover{
transition: 0.5s;
}




